<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
</head>

<body>
    <div class="main-login">
        <form method="post">
            <div class="login">
                <div class="card-login">
                    <h1>Alterar senha</h1>
                    <div class="textfield">
                        <label for="email">Email</label>
                        <input type="text" name="email" placeholder="Email">
                    </div>
                    <div class="textfield">
                        <label for="password">Senha Atual</label>
                        <input type="text" name="password" placeholder="Senha Atual">
                    </div>
                    <div class="textfield">
                        <label for="new_password">Nova senha</label>
                        <input type="password" name="new_password" placeholder="Nova Senha">
                    </div>
                    <button class="btn-login">Alterar senha</button>
                    <a href="/" class="register" style="color: white;">Login</a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>